.container {
    border-top: 25px;
}

#years {
    border-top: 25px; 
    margin-top: 25px;
    width: 65%;
    margin-left: 50px;
}
#list {
    font-size: 16px;
}

#dreams {
    border-top: 25px;
    margin-top: 25px;
    width: 65%;
    margin-right: 50px;
    float: right;
}