.carousel-inner {
    margin-top: 20px;
}

.carousel-item {
    height: auto;
    margin: auto;
    

    
}
.d-block {
    align-content: center;
    margin: auto;
    width: 50%;
    height: auto;
    margin-top: 11px;
    
    
}

.carousel-caption {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 50px;
    background-color: gray;
    opacity: .8;
}